@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #131313;
}

.container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1200px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .box {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 40px;
  background: #232323;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container .box:hover::before, .container .box:hover::after {
  opacity: 0.04;
}

.container .box:before {
  content: 'NIKE';
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container .box:after {
  content: 'SHOES';
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  font-style: italic;
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container .box .name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  width: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: translate3d(0, 0, 75px);
  -webkit-transform: translate3d(0, 0, 75px);
  -moz-transform: translate3d(0, 0, 75px);
  -ms-transform: translate3d(0, 0, 75px);
  -o-transform: translate3d(0, 0, 75px);
  opacity: 0;
  z-index: 10;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

.container .box:hover .name {
  top: 40px;
  opacity: 1;
}

.container .box .buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: translate3d(-50%, 0, 75px);
  -webkit-transform: translate3d(-50%, 0, 75px);
  -moz-transform: translate3d(-50%, 0, 75px);
  -ms-transform: translate3d(-50%, 0, 75px);
  -o-transform: translate3d(-50%, 0, 75px);
  color: #fff;
  background: #333;
  padding: 10px 25px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  text-decoration: none;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  opacity: 0;
  z-index: 1;
}

.container .box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.container .box .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  background: #fff;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  z-index: 10;
  opacity: 1;
  transform: translate3d(-50%, -50%, 50px);
  -webkit-transform: translate3d(-50%, -50%, 50px);
  -moz-transform: translate3d(-50%, -50%, 50px);
  -ms-transform: translate3d(-50%, -50%, 50px);
  -o-transform: translate3d(-50%, -50%, 50px);
}

.container .box .product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  z-index: 11;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transform: translate3d(-50%, -50%, 75px) rotate(-15deg) scaleX(-1);
  -webkit-transform: translate3d(-50%, -50%, 75px) rotate(-15deg) scaleX(-1);
  -moz-transform: translate3d(-50%, -50%, 75px) rotate(-15deg) scaleX(-1);
  -ms-transform: translate3d(-50%, -50%, 75px) rotate(-15deg) scaleX(-1);
  -o-transform: translate3d(-50%, -50%, 75px) rotate(-15deg) scaleX(-1);
}

.container .box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg) scaleX(-1);
  -webkit-transform: translate3d(-50%, -50%, 100px) rotate(-15deg) scaleX(-1);
  -moz-transform: translate3d(-50%, -50%, 100px) rotate(-15deg) scaleX(-1);
  -ms-transform: translate3d(-50%, -50%, 100px) rotate(-15deg) scaleX(-1);
  -o-transform: translate3d(-50%, -50%, 100px) rotate(-15deg) scaleX(-1);
}

.container .box:nth-child(1) .circle,
.container .box:nth-child(1) .buy {
  background: #9bdc28;
}

.container .box:nth-child(2) .circle,
.container .box:nth-child(2) .buy {
  background: #379bf7;
}

.container .box:nth-child(3) .circle,
.container .box:nth-child(3) .buy {
  background: #cabc3e;
}
/*# sourceMappingURL=style.css.map */